html {
  font-family: futura-pt, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  font-family: inherit;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(2 11 22);
  background-image: linear-gradient(
    to bottom,
    #072142,
    #061c37,
    #07182b,
    #061220,
    #020b16
  );
  color: #000;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}

canvas {
  position: fixed;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.load-in {
  background-color: #020b16;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  position: absolute;
  overflow: hidden;
  z-index: 40;
}

.app {
  position: relative;
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100%;
  z-index: 10;
}

.fullPage_slide {
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  overflow-y: hidden;
  z-index: 10;
}

.fullPage_slide .text-wrap {
  margin: 0 13%;
  width: 87.5%;
  top: auto;
  bottom: 7rem;
  position: absolute;
  overflow: hidden;
  z-index: 30;
}

.fullPage_slide .text-wrap .title {
  font-size: 2.75rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 0.5rem;
  font-family: "futura-pt";
  font-weight: 500;
}

.fullPage_slide .text-wrap .decoration {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.fullPage_slide .text-wrap .decoration span {
  display: block;
  width: 44px;
  height: 3px;
  border-radius: 5px;
  background-color: #ff4d5a;
}

.fullPage_slide .text-wrap .decoration span:first-child {
  margin-bottom: 0.5rem;
}
.fullPage_slide .text-wrap .decoration span:last-child {
  margin-left: 27px;
}

.fullPage_slide .text-wrap .description {
  color: #fff;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
}

.fullPage_slide .text-wrap .button-wrap {
  margin-top: 10px;
}

.fullPage_slide .text-wrap .button-wrap a button {
  font-size: 20px;
  color: #fff;
  padding: 12px 24px;
  margin: 0 24px 0 0;
  border-radius: 36px;
  background-color: #ff4d5a;
  letter-spacing: 0.1em;
  font-weight: 600;
  border-style: none;
  font-family: inherit;
}

.fullPage_slide .text-wrap .contact-icon-wrap {
  margin-top: 1rem;
}
.fullPage_slide .text-wrap .contact-icon-wrap .contact-icons {
  font-size: 2.5rem;
  width: 100%;
}

.fullPage_slide .text-wrap .contact-icon-wrap .contact-icons a {
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  width: 25%;
}
.fullPage_slide .text-wrap .contact-icon-wrap .contact-icons a:hover {
  opacity: 0.7;
}

.fullPage_slide .image-wrap {
  z-index: 10;
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vw;
  width: 100vw;
  top: 1rem;
  bottom: auto;
}

.fullPage_slide .image-wrap .parallaxImages {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullPage_slide .image-wrap .parallaxImages div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.fullPage_slide .image-wrap .parallaxImages div img {
  position: absolute;
}
.fullPage_slide .image-wrap .parallaxImages div .about-img {
  top: 5rem;
  width: 85%;
}

.scrollDown {
  position: fixed;
  font-size: 1rem;
  bottom: 80px;
  right: 20px;
  line-height: normal;
  letter-spacing: 0.25em;
  writing-mode: vertical-rl;
  z-index: 20;
  color: #fff;
  font-weight: 400;
}
.scrollDown::after {
  content: "";
  width: 2px;
  height: 64px;
  background-color: white;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -80px;
}

@media (min-width: 640px) {
  .fullPage_slide {
    position: absolute;
    top: 0;
    /* bottom: 50% !important; */
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .fullPage_slide .text-wrap {
    color: #fff;
    overflow: hidden;
    margin-left: 11%;
    bottom: auto;
  }

  .fullPage_slide .text-wrap .title {
    font-size: 7.5rem;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1.6rem;
    font-family: "futura-pt";
  }

  .fullPage_slide .text-wrap .decoration {
    margin-bottom: 1.6rem;
    display: inline-block;
  }

  .fullPage_slide .text-wrap .decoration span {
    display: block;
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background-color: #ff4d5a;
  }

  .fullPage_slide .text-wrap .decoration span:first-child {
    margin-bottom: 0.875rem;
  }
  .fullPage_slide .text-wrap .decoration span:last-child {
    margin-left: 54px;
  }

  .fullPage_slide .text-wrap .description {
    color: #fff;
    font-weight: lighter;
    font-size: 1.75rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    width: 40%;
  }
  .fullPage_slide .image-wrap {
    position: absolute;
    top: 0;
    left: 40%;
    margin: auto;
    width: 1450px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fullPage_slide .image-wrap .parallaxImages {
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fullPage_slide .image-wrap .parallaxImages div {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fullPage_slide .image-wrap .parallaxImages div img {
    position: absolute;
  }
  .scrollDown {
    font-size: 1.25rem;
    font-weight: 400;
    left: 40px;
    right: auto;
  }
  .fullPage_slide .text-wrap .button-wrap {
    margin-top: 20px;
  }

  .fullPage_slide .text-wrap .button-wrap a button {
    font-size: 24px;
    margin: 0 5px 24px 10px;
  }
  .fullPage_slide .text-wrap .contact-icon-wrap {
    margin-top: 2rem;
  }
  .fullPage_slide .text-wrap .contact-icon-wrap .contact-icons {
    font-size: 4rem;
  }

  .fullPage_slide .text-wrap .contact-icon-wrap .contact-icons a {
    margin-right: 4rem;
    width: auto;
    opacity: 1;
    transition: 0.3s;
  }
}
